.all{
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  position: fixed;
  right: 0;
}

.container {
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #E93559;
  background-image: linear-gradient(#E93559, #84cdfa, #5ad1cd);
  z-index: 1000;
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #E93559;
  background-image: linear-gradient(#E93559, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
  background-image: url("/assets/profil.png");
  background-size: 100%;
  background-position: center;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.account__links {
  display: none;
  /*affiche en bas du bouton*/
  position: absolute;
  top: 100%;
  right: 0;
}

.account__links--open {
  display: flex;
  flex-direction: column;
  /*rectangle sur tout le coté de droit de la page avec un dégradé de couleur linéaire*/
  background: linear-gradient(90deg, rgb(138, 243, 255) 0%, rgb(98, 173, 240) 100%);
  /*taille du rectangle*/
  width: 250px;
  /*toute la hauteur de la page*/
  height: 100vh;
  /*taille du rectangle*/
  position: absolute;
  margin-top: -177px;
}

.account__link{
  /*descendre les rectangles en dessous du boutons*/
  margin-top: 200px;
  /*taille du rectangle*/
  width: 100%;
  /*taille du rectangle*/
  height: 50px;
  /*taille du rectangle*/
  padding: 10px;
  /*taille du rectangle*/
  display: flex;
  /*taille du rectangle*/
  justify-content: center;
  /*taille du rectangle*/
  align-items: center;
  /*taille du rectangle*/
  color: #fff;
  /*taille du rectangle*/
  text-decoration: none;
  /*taille du rectangle*/
  font-size: 1.5rem;
  /*taille du rectangle*/
  border-bottom: solid 1px #fff;
}
